<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.bitschmiede.grazwiki"
    android:versionCode="1"
    android:versionName="0.0.1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  
    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <application
        android:name="at.bitschmiede.grazwiki.GlobalState"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="at.bitschmiede.grazwiki.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="at.bitschmiede.grazwiki.SearchBuildings"
            android:label="@string/title_activity_search_buildings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="at.bitschmiede.grazwiki.DetailBuilding"
            android:label="@string/title_activity_detail_building"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="at.bitschmiede.grazwiki.DetailBuildingContainer"
            android:label="@string/title_activity_detail_building_container"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="at.bitschmiede.grazwiki.RouteSelection"
            android:label="@string/title_activity_route_selection"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="at.bitschmiede.grazwiki.ImpressumActivity"
            android:label="@string/title_activity_impressum"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="at.bitschmiede.grazwiki.FullScreenImageActivity"
            android:label="@string/title_activity_full_screen_image" 
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>