<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'><dict>
<key>0</key>

<string>Ab 2000 abgerissene Gebäude</string>

<key>1</key>

<string>ab 2000 aufgestockt</string>

<key>2</key>

<string>Ab 2000 restauriert</string>

<key>3</key>

<string>aktuell</string>

<key>4</key>

<string>bis 2000 abgerissene Gebäude</string>

<key>5</key>

<string>Gedenkstätten</string>

<key>6</key>

<string>Geschichte</string>

<key>7</key>

<string>historische Ansicht vorhanden</string>

<key>8</key>

<string>Leerstand</string>
</dict></plist>